header nav{
    border-bottom: 1px solid rgba(228, 228, 228, 0.6);
}

header .navbar-brand{
    font-weight:700;
    font-family: "Prompt";
    font-size:30px;
    margin-right:50px;
}

header .navbar-nav a{
    margin-right:20px;
}

main{
    padding-top:8% ;
}

/*Galeria*/

.gallery{
    width:100%;
    padding:0 12% 0 6% ;
}

.main-image{
    width:100%;
    padding-top: 100%;
    background-image: url(../imagens/image-product-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.slides{
    width:100%;
    display: flex;
}

.slides .image-wraper{
    padding:15px;
    width:25%;
}

.slides .image-single{
    background-position: center;
    background-size: cover;
    width:100%;
    padding-top: calc(100% * 1);
    border-radius:8px;
}


.slides .image-wraper:first-of-type .image-single{
    background-image: url(../imagens/image-product-1-thumbnail.jpg);
}

.slides .image-wraper:nth-of-type(2) .image-single{
    background-image: url(../imagens/image-product-2-thumbnail.jpg);
}

.slides .image-wraper:nth-of-type(3) .image-single{
    background-image: url(../imagens/image-product-3-thumbnail.jpg);
}


.slides .image-wraper:last-of-type .image-single{
    background-image: url(../imagens/image-product-4-thumbnail.jpg);
}


/*Informaçoes*/

.info{
    padding:100px 7%;
}

 

.info > p:nth-of-type(1){
    color:#f1b604;
    text-transform: uppercase;
    font-size:15px;
    font-weight: bold;
}

.info > h1{
    text-transform:capitalize;
    font-weight:bold;
}

.info > p:nth-of-type(2){
    max-width:80%;
    margin:30px 0 25px 0;
    color:rgb(115, 115, 115);
    font-size:0.9375em;
}

.price-discount{
    display: flex;
    align-items: center;
}

.price-discount p:nth-of-type(1){
    font-weight:bold;
    font-size:25px;
    padding-right:15px;
}

.price-discount p:nth-of-type(2){
    padding:0 5px;
    text-align:center;
    background-color:#fbefe1 ;
    color:#e6b380;
    font-weight:bold;
    font-size:11px;
}

.price > .origin-price{
    width:100%;
    max-width:59.24px;
    position: relative;
    top:-10px;
    text-align: center;
}

.origin-price p{
    background-color:#f5f4f8;
    color:#d0d1d5;
}

.price .line{
    position: absolute;
    top:12px;
    width:100%;
    height:1px;
    background-color:#d0d1d5;
}

.add{
    width:100%;
    display:flex;
    align-items: center;
}

.amount{
    width:28%;
    display:flex;
    background-color: #f7f7fe;
    border-radius:8px;
}

.amount p{
    width:33%;
    margin: 0 auto;
    padding:8px 0;
    font-weight: bold;
    text-align: center;
}

.amount p:first-of-type, .amount p:last-of-type{
    color:#ff7d1b;
    cursor:pointer;
}

.amount p:first-of-type:hover, .amount p:last-of-type:hover{
   background-color: #ebe6e6;
   border-radius: 8px;
}

.cart{
    width:53%;
    display: flex;
    justify-content: center;
    margin:0 2%;
    padding:8px 0;
    align-items:center;
    background-color:#ff7d1b;
    border-radius:8px;
    cursor:pointer;
    -webkit-box-shadow: 0px 14px 26px 1px rgba(255,125,27,0.32); 
    box-shadow: 0px 14px 26px 1px rgba(255,125,27,0.32);
}

.cart:hover{
    background-color:#f3791c;
}

/*Obs:
    Decidir se a font-weight via ser bold ou outra*/

.cart p{
    font-weight:500;
    color:white;
    margin:0 auto;
}


