header .container{
    border-bottom: 1px solid rgba(228, 228, 228, 0.6) !important ;

}


header nav:first-of-type{
    padding-bottom: 0 !important;
}

header .navbar-brand:first-of-type{
    font-weight:700;
    font-family: "Prompt";
    font-size:30px;
    margin-right:50px;
}

header .navbar-nav a{
    margin-right:20px;
    padding-bottom: 15px;
    position: relative;
    top: 4px;
}

header .navbar-nav a:hover{
    border-bottom: 3px solid #f3791c;
    padding-bottom: 12px;
}

header .user-wraper{
    width:100%;
    position: relative;
    top:20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.user-wraper > div{
    cursor: pointer;
    margin:0 20px;
}

.cart-amount{
    display:none;
    width:15px;
    height:15px;
    line-height: 15px;
    font-size:13px;
    border-radius:calc(15px / 2);
    background-color: #f3791c;
    color:white;
    position: absolute;
    top:-3px;
    left:225px;
    text-align:center;
}

.list-wraper{
    display: block;
    width:100%;
    max-width:250px;
    position: absolute;
    right:-8%;
    background-color: white;
    top: 36px;
    max-height:256px;
    overflow-y:auto;
    border:1px solid rgba(228, 228, 228, 0.6);
    box-shadow:0 10px 10px rgba(51, 51, 51, 0.514);
}

.list-wraper .list{
    margin-bottom:20px;
}

.list h6{
    padding:16px 16px 20px 16px ;
    border-bottom: 1px solid rgba(228, 228, 228, 0.6);
    font-weight:bold;
    font-family: "Prompt";
}

.img-title{
    width: 100%;
    display:flex;
    padding: 1px 16px 16px 16px;
    color:rgba(0,0,0,.55);
    text-transform: capitalize;
    align-items: center;
}

.img-cart{
    width:23%;
    padding-top:calc(100% * 0.18);
    border-radius: 5px;
    margin-right: 8px;
}

.img-title p{
    position:relative;
    top:8px;
    font-size: 12px;
}

.cart-wraper span:last-of-type{
    font-weight:bold;
}

.user-wraper .profile{
    width:35px ;
    height:35px;
    border-radius: calc(35px /2);
    background-color:#686767;
    background-image: url(../imagens/eu.jfif);
    background-position: center;
    background-size: cover;
}

.user-wraper .profile:hover{
    border: 3px solid #f3791c;
}

main{
    padding-top:5% ;
}

/*Galeria*/

.gallery{
    width:100%;
    padding:0 12% 0 6% ;
}

.main-image{
    width:100%;
    padding-top: 100%;
    background-image: url(../imagens/image-product-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    cursor: pointer;
}

.slides{
    width:100%;
    display: flex;
    padding-top:10px;
}

.slides .image-wraper{
    padding:15px;
    width:25%;
}

.slides .image-single{
    background-position: center;
    background-size: cover;
    width:100%;
    padding-top: calc(100% * 1);
    border-radius:8px;
    cursor: pointer;
    position: relative;
}

.slides .image-single:hover{
    border:3px solid #f3791c;
    padding-top: calc((100% * 1) - 6px );
}


.slides .image-wraper:first-of-type .image-single{
    background-image: url(../imagens/image-product-1.jpg);
}

.slides .image-wraper:nth-of-type(2) .image-single{
    background-image: url(../imagens/image-product-2.jpg);
}

.slides .image-wraper:nth-of-type(3) .image-single{
    background-image: url(../imagens/image-product-3.jpg);
}


.slides .image-wraper:last-of-type .image-single{
    background-image: url(../imagens/image-product-4.jpg);
}

.image-single .overlay{
    display:none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:7px;
    background-color: rgba(196, 196, 196, 0.6);
    z-index: 1;
}


/*Informaçoes*/

.info{
    padding:100px 7%;
}

 

.info > p:nth-of-type(1){
    color:#f1b604;
    text-transform: uppercase;
    font-size:15px;
    font-weight: bold;
}

.info > h1{
    text-transform:capitalize;
    font-weight:bold;
}

.info > p:nth-of-type(2){
    max-width:80%;
    margin:30px 0 25px 0;
    color:rgb(115, 115, 115);
    font-size:0.9375em;
}

.price-discount{
    display: flex;
    align-items: center;
}

.price-discount p:nth-of-type(1){
    font-weight:bold;
    font-size:25px;
    padding-right:15px;
}

.price-discount p:nth-of-type(2){
    padding:0 5px;
    text-align:center;
    background-color:#fbefe1 ;
    color:#e6b380;
    font-weight:bold;
    font-size:11px;
}

.price > .origin-price{
    width:100%;
    max-width:59.24px;
    position: relative;
    top:-10px;
    text-align: center;
}

.origin-price p{
    background-color:#f5f4f8;
    color:#d0d1d5;
}

.price .line{
    position: absolute;
    top:12px;
    width:100%;
    height:1px;
    background-color:#d0d1d5;
}

.add{
    width:100%;
    display:flex;
    align-items: center;
    user-select: none;
}

.amount{
    width:28%;
    display:flex;
    background-color: #f7f7fe;
    border-radius:8px;
    user-select: none;
}

.amount p{
    width:33%;
    margin: 0 auto;
    padding:8px 0;
    font-weight: bold;
    text-align: center;
}

.amount p:first-of-type, .amount p:last-of-type{
    color:#ff7d1b;
    cursor:pointer;
}

.amount p:first-of-type:hover, .amount p:last-of-type:hover{
   background-color: #ebe6e6;
   border-radius: 8px;
}

.cart{
    width:53%;
    display: flex;
    justify-content: center;
    margin:0 2%;
    padding:8px 0;
    align-items:center;
    background-color:#ff7d1b;
    border-radius:8px;
    cursor:pointer;
    -webkit-box-shadow: 0px 14px 26px 1px rgba(255,125,27,0.32); 
    box-shadow: 0px 14px 26px 1px rgba(255,125,27,0.32);
}

.cart:hover{
    background-color:#ee761a;
}

.cart p{
    font-weight:500;
    color:white;
    margin:0 auto;
}

@media screen and (max-width:992px){
    
    header .navbar-nav a{
        margin-right:20px;
        padding-bottom:0;
        position:static;
    }

    header .navbar-nav a:hover{
        border-bottom:0;
        padding-bottom: 0;
    }

    #logo1{
        padding-left:15px;
    }

    .menuMobile{
        position: relative;
        left:-50px;
        top: -45px;
    }

}


